@model Cinema.Models.Film

    
        <span class="CloseVP" onclick="closeFilmPage(event)"></span>
        <div class="FilmFPContent">
            <div class="FilmTrailer">
                <img src="~/images/@Model.Poster" width="100%" height="100%" onclick="showVPlayer(@Model.FilmId)">
            </div>
            <div class="FilmFullInfo">
                <div class="FilmInfo">
                    <span class="FilmName">@Model.FilmName</span><br>
                    <span class="FilmCountry">Страна: @Model.Country</span><br>
                    <span class="Genres">Жанры: 
                    @for(int i=0; i < Model.MovieGenre.Count;i++)
                    {
                        @Model.MovieGenre[i].Genre.GenreName
                        if (!(i + 1 == Model.MovieGenre.Count))
                        {<span>, </span>}
                    }</span><br>
                    <span class="FilmDirector">Режиссер: @Model.FilmDirector</span><br>
                    <span class="Duration">Длительность: @Model.FilmDuration мин.</span><br>
                </div>
                <div class="FilmDesc">Описание: @Model.FilmDescription</div>
            </div>
            <span id="SessionTxt">Сеансы</span>
            <div class="FilmActualSessions">
                @foreach (var session in Model.Session)
                {
                    <div class="Session" id="@session.SessionId">
                        <span>
                            @session.SessionDateTime.ToString("t")<br>
                            @session.Hall.HallType
                        </span>
                    </div>
                }
            </div>
        </div>